[Unit]
Description=Rename Telegram users' IRC nicks
After=mautrix-telegram.service
Requires=mautrix-telegram.service

[Service]
Type=oneshot
User=matrix-irc-nick
Group=matrix-irc-nick
WorkingDirectory=/opt/matrix-irc-nick/
ExecStart=/opt/matrix-irc-nick/rename-irc-nicks
# Give a reasonable amount of time for renaming
TimeoutSec=2h

[Install]
WantedBy=multi-user.target
